{% block style_add %}
	<link rel="stylesheet" href="{{asset('css/videocard.css')}}">
{% endblock %}

{% block videoCard %}
	<div class="video-card">
		<iframe width="420" height="236" src="https://www.youtube.com/embed/{{video.videoid}}" frameborder="0" allowfullscreen></iframe>
		<div class="video-card-core">
			<div>
				<img class="video-profile-picture" src="{{asset('images/pngegg.png')}}" alt="User profile picture"/>
			</div>
			<div>
				<h2 class="video-title">{{video.videotitle}}</h2>
			</div>
		</div>
		<div class="video-card-bottom">
			<div class="video-card-tags-infos">
				<ul class="video-tags">
					{% for tags in video.tags|sort %}
						<li>
							<a href="#">{{tags.tagslibelle}}</a>
						</li>
					{% endfor %}
				</ul>
				<p class="video-author">{{video.videoauthor}}</p>
				<p class="video-views">{{video.videolikes}}</p>
			</div>
			<div class="video-card-buttons">
				{# Seulement les utilisateurs ayant un compte peuvent accéder aux boutons #}
				{% if is_granted('ROLE_USER') %}

					{# On vérifie si l'utilisateur a précédemment liké la vidéo pour savoir quel bouton afficher #}
					{% if video.id in userVideoLike %}
						<input class="likeButton on" type="image" src="{{ asset('images/LikeButtonWhite.png') }}" data-video-id="{{video.videoid}}"/>
					{% else %}
						<input class="likeButton off" type="image" src="{{ asset('images/LikeButtonWhite.png') }}" data-video-id="{{video.videoid}}"/>
					{% endif %}

					{# Pas encore fonctionnel mais devrait avoir la même logique que les boutons du dessus #}
					<input class="favouriteButton off" type="image" src="{{ asset('images/FavouriteButtonWhite.png') }}" data-video-id="{{video.videoid}}"/>

				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('javascript/likeVideos.js') }}"></script>
{% endblock %}
