{% extends 'base.html.twig' %}

{% block title %}Videos page
{% endblock %}

{% block style_add %}
	<link rel="stylesheet" href="{{asset('css/videopage.css')}}">
	<link rel="stylesheet" href="{{asset('css/videocard.css')}}">
{% endblock %}

{% block header %}
	{% include "navbar.html.twig" %}
{% endblock %}

{% block body %}
	<main>
		<section class="filter-section">
			<div class="filter-content">
				<h3>Système de tags</h3>
				<div class="tag-content">
					{{ form_start(form)}}
					{{form_row(form.searchBarTags)}}
					{# {{form_row(form.searchBarAuthors)}} #}
					<button class="btn validateButton">{{ button_label|default('Rechercher') }}</button>
					{{ form_end(form) }}
				</div>
			</div>
		</section>
		<section class="video-section">
			<div class="video-content">
				<h3>Système de filtre</h3>

				<div class="video-list">
					{% if videos|length > 0 %}
						{% block videoCard %}
							{% for video in videos %}
								{% include "videopage/_videocard.html.twig" %}
							{% endfor %}
						{% endblock %}
					{% else %}
						<p class="error-message">Pas de vidéo comportant ces tags disponible.</p>
					{% endif %}
				</div>

			</div>
		</section>
	</main>
{% endblock %}
