{{ form_start(form) }}

<div class="infoVideoDiv">
	<h3>Informations de la vidéo :</h3>
	<div class="attributeInfosDiv">
		<p class="videoAttribute">Nom de la vidéo :
		</p>
		<p>{{ videoInfos.snippet.title }}</p>
	</div>
	<div class="attributeInfosDiv">
		<p class="videoAttribute">Nom de l'auteur :
		</p>
		<p>{{ videoInfos.snippet.channelTitle}}</p>
	</div>
	<div class="attributeInfosDiv">
		<p class="videoAttribute">Date du post de la vidéo :
		</p>
		<p>{{ videoInfos.snippet.publishedAt }}</p>
	</div>
	<div class="attributeInfosDiv">
		<p class="videoAttribute">Image de la vidéo :</p>
		<img src="{{ videoInfos.snippet.thumbnails.high.url }}"/>
	</div>

	{{form_row(form.tags)}}
	<button class="btn validateButton">{{ button_label|default('Valider') }}</button>
</div>

{{ form_end(form) }}
