{{ form_start(form) }}
<div class="videoIdDiv">
	{{form_row(form.video_id)}}
	{% if errorBool %}
		<div class="Error message">
			<p>{{errorMsg}}</p>
		</div>
	{% endif %}
	<button class="btn validateButton">{{ button_label|default('Envoyer') }}</button>
</div>
{{ form_end(form) }}
