{% extends 'base.html.twig' %}

{% block title %}Videos index
{% endblock %}

{% block style_add %}
	<link rel="stylesheet" href="{{asset('css/adminusermanager.css')}}">
{% endblock %}

{% block header %}
	{% include "adminpage/_adminheader.html.twig" %}
{% endblock %}

{% block body %}
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Video_id</th>
				<th>Video_title</th>
				<th>Video_tags</th>
				<th>Video_author</th>
				<th>Video_views</th>
				<th>Video_date</th>
				<th>Video_thumbnail</th>
				<th>Video_timecode</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for video in videos %}
				<tr>
					<td>{{ video.id }}</td>
					<td>{{ video.videoId }}</td>
					<td>{{ video.videoTitle }}</td>
					<td>
						{% for tags in video.tags|sort %}
							<p>{{tags.tagslibelle}}</p>
						{% endfor %}
					</td>
					<td>{{ video.videoAuthor }}</td>
					<td>{{ video.videoLikes }}</td>
					<td>{{ video.videoDate ? video.videoDate|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ video.videoThumbnail }}</td>
					<td>{{ video.videoTimecode }}</td>
					<td>
						<a href="{{ path('app_videos_show', {'id': video.id}) }}">Show</a>
						<a href="{{ path('app_videos_edit', {'id': video.id}) }}">Edit</a>
						<a href="{{ path('app_videos_delete', {'id': video.id}) }}">Delete</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="10">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<div class="admin-new-back-buttons">
		<a href="{{ path('app_videos_new') }}">
			<button>Create new</button>
		</a>
		<a href="{{ path('app_adminpage') }}">
			<button>Back</button>
		</a>
	</div>

	{{ include('adminpage/_backToWebsiteButton.html.twig') }}
{% endblock %}
