{% block style_add %}
	<link rel="stylesheet" href="{{asset('css/navbar.css')}}">
{% endblock %}

{% block header %}
	<nav class="navbar">
		<div class="navbar-leftside">
			<div class="navbar-logo">
				<img src="{{asset('images/SF6Logo.png')}}" href="#" alt="Logo">
			</div>
			<ul class="navbar-links">
				<li>
					<a href="#">Tournois</a>
				</li>
				<li>
					<a href="#">Créateur</a>
				</li>
				<li>
					<a href="{{path('app_videopage')}}">Vidéos</a>
				</li>
				{% if is_granted('ROLE_ADMIN') %}
					<li>
						<a href="{{path('app_adminpage')}}">Admin</a>
					</li>
				{% endif %}
			</ul>
		</div>

		{# <div class="navbar-central">
					<div class="navbar-search">
						<button><img src="{{asset('images/glass.png')}}"></button>
						<input type="text" placeholder="Rechercher...">
					</div>
				</div> #}

		<div class="navbar-rightside">
			<div class="navbar-login">
				{% if not is_granted('ROLE_USER') %}
					<div class="navbar-connectbutton">
						<a href="{{path('app_login')}}">Se Connecter</a>
						<a href="{{path('app_register')}}">S'inscrire</a>
					</div>
				{% else %}
					<div class="navbar-connectbutton">
						<a href="{{path('app_videos_new') }}">Poster une vidéo</a>
						<a href="{{path('app_user_page', { 'id': app.user.id }) }}">{{ app.user.username}}</a>
						<a href="{{path('app_logout')}}">Se déconnecter</a>
					</div>
				{% endif %}
			</div>
		</div>
	</nav>
{% endblock %}
